header{
    background-color:#730ff5  ;
    color: white;

}


}
.cabecalho {
    background-color: #0ce60c;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;