header{
    background-color:#52042b80  ;
    color: white;

}


}
.cabecalho {
    background-color: #2e0133;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;